// Colors
$background-global: #18181B;
$background-elements: #212124;
$main-text: rgba(255, 255, 255, 0.69);
$dropdown-menu: rgba(186, 186, 186, 0.60);
$dropdown-menu-bg: rgba(186, 186, 186, 0.10);
$accent-green: #CAFB01;
$auth-bg: #1E1E21;
$auth-form-bg: rgba(24, 24, 27, 0.85);
$auth-text: rgba(255, 255, 255, 0.90);
$auth-input-border: rgba(186, 186, 186, 0.60);
$auth-input-bg: rgba(186, 186, 186, 0.15);
$auth-form-links: #BABABA;



$background-local: #323232;
$background-modal: rgba(55, 55, 55, 0.85);
$input-bg: #2F2F2F;
$button-bg: #CAFB01;
$button-bg-disabled: #C8C8C8;
$button-text: black;

$white: #fff;
// Fonts
//$mono-100: 'JetBrains-Mono-100', monospace;
//$mono-200: 'JetBrains-Mono-200', monospace;
//$mono-300: 'JetBrains-Mono-300', monospace;
//$mono-400: 'JetBrains-Mono-400', monospace;
//$mono-500: 'JetBrains-Mono-500', monospace;
//$mono-600: 'JetBrains-Mono-600', monospace;
//$mono-700: 'JetBrains-Mono-700', monospace;
//$mono-800: 'JetBrains-Mono-800', monospace;

$mono:  'JetBrains Mono', monospace;

//$Orbitron-400: 'Orbitron-400', sans-serif;
//$Orbitron-500: 'Orbitron-500', sans-serif;
//$Orbitron-600: 'Orbitron-600', sans-serif;
//$Orbitron-700: 'Orbitron-700', sans-serif;
//$Orbitron-800: 'Orbitron-800', sans-serif;
//$Orbitron-900: 'Orbitron-900', sans-serif;

$orbitron: 'Orbitron', sans-serif;


