APP_NAME=Ambar
APP_ENV=local
APP_KEY=base64:zbYNPnwcnzrbnR5aJWJ5O1N+/wlzlrx0dmW2JAMGFbM=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

APP_SERVICE=web
APP_PORT=50500
FORWARD_DB_PORT=50501
FORWARD_REDIS_PORT=50502
FORWARD_MEILISEARCH_PORT=50503
FORWARD_MAILHOG_PORT=50504
FORWARD_MAILHOG_DASHBOARD_PORT=50505
VITE_PORT=50506
FORWARD_CENTRIFUGO_PORT=50507


DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=ambar
DB_USERNAME=sail
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:50500/api/github/callback

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:50500/api/discord/callback
DISCORD_BOT_TOKEN=

STEAM_AUTH_API_KEYS=
STEAM_SECRET=
STEAM_REDIRECT_URI=http://localhost:50500/api/steam/callback


MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@staging.corpsoft.io
MAIL_PASSWORD=4caa6d45769fde24678f89e309a265df-30344472-52acc05b
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=admin@corpsoft.io
MAIL_FROM_NAME="${APP_NAME}"
MAILGUN_DOMAIN=staging.corpsoft.io
MAILGUN_SECRET=d7195f682d84aef29b45959713b8adb1-30344472-35158184

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WWWGROUP=1000
WWWUSER=1000

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700

MEILISEARCH_NO_ANALYTICS=false

JWT_SECRET=

CENTRIFUGO_API_KEY=
CENTRIFUGO_SECRET=
CENTRIFUGO_URL=http://ambar-centrifugo:8020/api
CENTRIFUGO_WEBSOCKET=ws://localhost:8020/connection/websocket
CENTRIFUGO_CHANNEL_PREFIX="ambar-"
CENTRIFUGO_WEBSOCKET_CLIENT=ws://localhost:50507/connection/websocket

SFTP_HOST="v-buf-04.sparkedhost.us"
SFTP_USERNAME=
SFTP_PASSWORD=
SFTP_ROOT="/"

#Blockchain
BLOCKCHAIN_PROVIDER_URL="https://arb1.arbitrum.io/rpc"
#addres of contract
TROPHY_NFT_ADDRESS=0x7a5Fb0Cd0d5cf73a353d65F8B7Edd755Fa896D2B
#main owner address
OWNER_ADDRESS=0x6A69d494f4F6c2E2fF96124b66630c891ddFffd4
OWNER_PRIVATE_KEY=280f41855cf2772a59084fbe76647cbeff8a86c3c52fd33bc717f7308e6bdc07
#additional account for security
SIGNER_ADDRESS=0xB5Ac6De8BAE39E47Cda7DDc566D17826eE9066A3
SIGNER_PRIVATE_KEY=79b1db052dc4860439afec496e19701bdea2157a6d67d23caf018568b5c9bd89
#id of network (42161 - Arbitrum)
CHAIN_ID=42161

#IPFS (file storage)
PINATA_API_KEY=fc50363671102d64e901
PINATA_API_SECRET=8a913d5f5a281b37dca1e076752a6484eb0c6da947ab64fa93ca37c131065e87
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIyOTJjYzQwZS1mZTdhLTRlYWItOWM0Yy1jY2JkNjY4M2MyNDgiLCJlbWFpbCI6Imt1bGF4eXoxM0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJpZCI6IkZSQTEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX0seyJpZCI6Ik5ZQzEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZmM1MDM2MzY3MTEwMmQ2NGU5MDEiLCJzY29wZWRLZXlTZWNyZXQiOiI4YTkxM2Q1ZjVhMjgxYjM3ZGNhMWUwNzY3NTJhNjQ4NGViMGM2ZGE5NDdhYjY0ZmE5M2NhMzdjMTMxMDY1ZTg3IiwiaWF0IjoxNzAxMTM0MzExfQ.mk917OqDWjMNLMUgu3MaYv78fiYNx7O5V_ZgneoM9ik
